<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Wszystkie samochody.</title>
</head>
<body>
<h1>Wszystkie Samochody.</h1>
<table border="1">
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Rok produkcji</th>
        <th>Pojemność silnika</th>
        <th>Moc silnika</th>
        <th>Cena</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.dateOfProduction}"></td>
        <td th:text="${car.engineCapacity}"></td>
        <td th:text="${car.enginePower}"></td>
        <td th:text="${car.price}"></td>
    </tr>
</table>
<br />
<a href="/cars/search">Znajdź samochód</a><br />
<a href="/cars/add">Dodaj samochód.</a><br />
<a href="/cars/all">Wyświetl wszystkie.</a><br />
</body>
</html>